<!--  Copyright (c) Microsoft. All rights reserved. Licensed under the MIT license.
        See LICENSE in the source repository root for complete license information. -->

@using Resources;

@model MailboxSync.Models.FoldersViewModel

@{
    ViewBag.Title = string.Format(Resource.App_Name, Resource.Mail);
}

<h2>@ViewBag.Title</h2>
<div class="col-md-12">
    <div class="form-group">
        @using (Html.BeginForm("GetMyMailfolders", "Home"))
        {
            <button class="btn btn-link" id="get-messages">Sync Mail From Server</button>
        }
        @using (Html.BeginForm("CreateSubscription", "Subscription"))
        {
            <button class="btn btn-link" id="get-inbox-messages">Create Subscription</button>
        }
    </div>
</div>
@Html.Partial("_ResultsPartial")
