<!--  Copyright (c) Microsoft. All rights reserved. Licensed under the MIT license.
        See LICENSE in the source repository root for complete license information. -->

@model MailboxSync.Models.FoldersViewModel

@{
    ViewBag.Title = string.Format("Mailbox Sync");
}

<h2>@ViewBag.Title</h2>
<div class="col-md-12">
    <div class="form-group">
        @using (Html.BeginForm("GetMyMailfolders", "Home"))
        {
            <button class="btn btn-link" id="get-messages">Sync Mail From Server</button>
        }
        @using (Html.BeginForm("CreateSubscription", "Subscription"))
        {
            <button class="btn btn-link" id="get-inbox-messages">Create Subscription</button>
        }
        @using (Html.BeginForm("SendMessage", "Home"))
        {
            <button class="btn btn-link" id="send-mail">Send Message</button>
        }
    </div>
</div>
<br/>
<div id="message" class="clearfix">
    <div id="notice"></div>
</div>
@Html.Partial("_ResultsPartial")
@section Scripts {
    <script src="https://ajax.aspnetcdn.com/ajax/signalr/jquery.signalr-2.2.1.min.js"></script>
    <script>
        var connection = $.hubConnection();
        var hub = connection.createHubProxy("NotificationHub");
        hub.on("showNotification", function (message) {
            var card = $("<div class=\"card\"></div>");
            var cardBody = $("<div class=\"card-body\"></div>").appendTo(card);
            $("<h5 class=\"\"><b><b></h5>").text("New Message(s) received, refresh page to view messages").appendTo(cardBody);
            $("#notice").empty();
            $("#notice").append(card);
            $("#notice");
        });
        connection.start();
    </script>
}